version: '3'
services:
  billing_db_test:
    image: mysql:8.0.26
    volumes:
      - mysql-billing-data-test-1:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: 12345
    container_name: billing_db_test

  billing_app_test:
    ports:
      - 8084:5000
    restart: always
    volumes:
      - ./in:/src/in
    build: .
    environment: 
      TEST_DB: "true"
    container_name: billing_app_test

volumes:
  mysql-billing-data-test-1:


# docker-compose -f docker-compose.test.yaml up --build




