version: '3'
services:
  weight_app:
    build: ./app
  sql:
    image: mysql:5.7
    volumes:
      - mysql-weight-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=1234

volumes:
  mysql-weight-data:
