version: '3'
services:
  app:
    volumes:
      - ./:/app
    build: .
    ports:
      - "8081:8081"
  sql:
    image: mysql:5.7
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_ROOT_PASSWORD=1234