version: '3'
services:
  weight_app_test:
    build: ./app
    ports:
      - "8083:8081"
    environment: 
      TEST_DB: "true"
    container_name: weight_app_test
  sql_test:
    image: mysql:5.7
    volumes:
      - mysql-weight-data-test:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_ROOT_PASSWORD=1234
    container_name: sql_test

volumes:
  mysql-weight-data-test:

# docker-compose -f docker-compose.test.yaml up --build
