version: '3'
services:
  weight_app:
    build: ./app
  sql:
    image: mysql:5.7
    volumes:
      - mysql-data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_ROOT_PASSWORD=1234

volumes:
  mysql-data:
