<!DOCTYPE html>
<html>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
            function bill_id() {
                var bill_id = location.href;
            }
            const url = location.href;
            const lastSegment = url.split("/")
            let idnumber = lastSegment[lastSegment.length-1];
            setTimeout(function() {
              // document.getElementById("idnumber").innerHTML = idnumber;
              $("input[id='provider_id']").val("10008");
              $("input[id='from']").val("20210601000000");
              $("input[id='to']").val("20220501000000");
            }, 150); 
          $(document).ready(function() {
            $('#sendBtn').click(function () {
                var from = $('#from').val();
                var to = $('#to').val();
                const  str = "bill/" + $("input[id='provider_id']").val()
                $.ajax({
                    url: str ,     //Your api url
                    type: 'GET',   //type is any HTTP method
                    data:
                      {
                        from:from,
                        to:to,
                    },
                    success: function (data, textStatus, xhr) {
                      // console.log(data)
                      // console.log(idnumber)
                      // console.log(textStatus)
                      // console.log(xhr.status)
                      alert(
                        "\nId: " + data.id +
                        "\nName: " + data.name +
                        "\nFrom: " + data.from +
                        "\nTo: " + data.to +
                        "\nTruck count: " + data.truckCount +
                        "\nSession count: " + data.sessionCount +
                        "\nProduct: " + JSON.stringify(data.products) +
                        "\nTotal in agorot: " + data.total
                        )
                    },
                    error: function (data, textStatus, xhr) {
                      alert(data.responseText)
                      if (data.status === 409) {
                      }
                      // console.log(data.responseText) // response message
                      // console.log(xhr.status)
                    } 
                })
            });
          });

    </script>
<head>
<title>Trucks</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<link rel="stylesheet" href="../static/stlye.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
</head>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:8px 16px">
  <h1 class="w3-xlarge">Welcome To Kibbutz Gam-Shmuel</h1>
  <h1>A-Billing Services</h1>
  <h8>By: Rotem Kalman, Oshri Zafrani, Asres Frede</h8>
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/health" class="w3-bar-item w3-button w3-light-grey">Health</a>
      <a href="/provider" class="w3-bar-item w3-button w3-hide-small">Provider</a>
      <a href="/truck" class="w3-bar-item w3-button w3-hide-small">Trucks</a>
      <a href="/rates" class="w3-bar-item w3-button w3-hide-small">Rates</a>
      <a href="/bill" class="w3-bar-item w3-button w3-hide-small">Bill</a>
    </div>
  </div>
</header>

<!-- Photo Grid -->
<div class="w3-row-padding-32" style="margin-bottom:80px">
  <div class="w3-panel w3-center" style="padding:1px 1px">
      <h3>Please enter the details below to issue the bill:</h3>
      <br>
      <div class="truck-form">
        <form id="inform" action="" method="GET">
          <b>Provider id: </b> <br> <input id="provider_id" type=text >
          <br>
          <br>
          <b>From date: </b> <br> <input id="from" type=text >
          <br>
          <br>
          <b>To date: </b> <br> <input id="to" type=text >
          <br>
          <input id="sendBtn" type="button" value="submit">
          <br>
        </form>
      </div>
      <!-- <button class="update-provider">update provider</button> -->
  </div>
</div>

  
<!-- End Page Content -->
</div>
  
<!-- End Page Content -->

<!-- Footer -->
<footer class="w3-container w3-padding-61 w3-light-grey w3-center w3-medium"> 
  <h8>A-Billing services by <a href="/" target="_blank" class="w3-hover-text-green">Oshri Zafrani, Rotem Kalman, Asres Frede </a></h8>
</footer>

</body>
</html>
