<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="headNev">
        <a class="headNevLink1" href="/">  <i>Index</i></a>
        <a class="headNevLink2" href="/health">Health </a>
        <a class="headNevLink1" href="/provider">Providers</a>
        <a class="headNevLink1" href="/provider_id">update Providers</a>
        <a class="headNevLink2" href="/rates">Rates</a>
        <a class="headNevLink1" href="/truck">Trucks </a>
        <a class="headNevLink2" href="/bill">Bills </a>
    </nav>
    <div class="contentBlock"  style="top:200px; left:70px; font-family: Arial, sans-serifserif;color: dimgray;z-index: 2">
        <h2> connection health check</h2>
       <h3 id="healthCheck"></h3>
   </div>
<div class="imageBlock"  style="top:200px; left:70px; font-family: Arial, sans-serifserif;color: rgb(0, 0, 0)">
</div>
</body>
</html>