<html>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  
    <script type="text/javascript">
        function truck_id() {
          // var truck_id = window.location.href.substring(window.location.href.lastIndexOf('/')+1);
          // console.log("truck id lastbaba", window.location.pathname.split("/").pop());
          // console.log("truck id last", truck_id)
          var truck_id = location.href;
          // truck_id = href.match(/([^\/]*)\/*$/)[1];
          console.log(truck_id)
          // return "/truck/" + truck_id;
          // console.log(truck_id);
        }
          function truck_number() {
              return  window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
        }
  
        //   function changeText2() {
        //   var t1 = document.getElementById('t1').value;
        //   var t2 = document.getElementById('t2').value;
        //   var lnk = document.getElementById('lnk');
        //   lnk.href = truck_id() +"/?from=" +t1 +"&to=" +t2 ;
        //   window.location = truck_id() +"/?from=" +t1 +"&to=" +t2;
        // }
        function myFunction() {
          var number = "Truck Number " + truck_number();
          document.getElementById("Truck_number").innerHTML = number;
        }
  
        $(document).ready(function() {
            $('#sendBtn').click(function () {
                console.log("click");
                var provider_id = $('#provider_id').val();
                const  str = truck_id()
                console.log("ajax call", str)
                // console.log("id: ", truck_id())
                // console.log("num: " + truck_number())
                $.ajax({
                    url: str ,     //Your api url
                    type: 'PUT',   //type is any HTTP method
                    data:
                      {provider_id:provider_id
                    },
                    success: function () {
                    }
                })
            });
        });
  
  
    </script>
    <head>
      <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
    </head>
    <body onload="myFunction()">
     <nav class="headNev">
          <a class="headNevLink1" href="/">  <i>Index</i></a>
          <a class="headNevLink2" href="/health">Health </a>
          <a class="headNevLink1" href="/provider">Providers</a>
          <a class="headNevLink2" href="/rates">Rates</a>
          <a class="headNevLink1" href="/trucks">Trucks </a>
          <a class="headNevLink2" href="/bills">Bills </a>
      </nav>
    <div class="contentBlock"  style="top:200px; left:70px; font-family: Arial, sans-serifserif;color: dimgray">
      <h2 id = "Truck_number"></h2>
        <h3>To update the provider owning this truck, please enter its ID:</h3>
      <form  action="/api/"  >
        provider id:<input id="provider_id"  type="text" name="provider_id"  >
        <input id="sendBtn" type="button" value="submit">
      </form>
  
  
        <a hidden>Link <a href="" id=lnk> </a>
    <br>
     <h3> Please enter the wanted dates:</h3>
    <input type='text' id='t1'/>
    <input type='text' id='t2'/>
    <input type='button' onclick='changeText2()' value='Enter' />
      </a>
      </div>
    <div class="imageBlock"  style="top:200px; left:70px; font-family: Arial, sans-serifserif;color: dimgray">
        <img src="../static/pngwing.com.png" alt="gan-shmuel" style="left : 1280px; position: relative;display: inline-block;height:350px;width:380px ">
    </div>
    </body>
  </html>
  