<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="headNev">
        <a class="headNevLink1" href="/">  <i>Index</i></a>
        <a class="headNevLink2" href="/health">Health </a>
        <a class="headNevLink1" href="/provider">Providers</a>
        <a class="headNevLink1" href="/provider_id">update Providers</a>
        <a class="headNevLink2" href="/rates">Rates</a>
        <a class="headNevLink1" href="/truck">Trucks </a>
        <a class="headNevLink2" href="/bill">Bills </a>
    </nav>
    
    <div class="contentBlock"  style="top:200px; left:70px; font-family: Arial, sans-serifserif;color: dimgray">
        <form id="inform" action="/api/rates.html" method="POST">
          <h4> Upload file </h4>
          <input name="msgfile" type=text>
          <input id="sendBtn" type="button" value="send">
        </form>
        <h5 id="chatbox"></h5>
      </div>
      <div class="imageBlock"  style="top:200px; left:70px; font-family: Arial, sans-serifserif;color: dimgray">
          <img src="../static/rates.png" alt="gan-shmuel" style="left : 1280px; position: relative;display: inline-block;height:250px;width:250px ">
      </div>
</body>
</html>